@model BeautyStore.App.Models.RegisterViewModel
<h2 class="text-center">Регистрация нового пользователя</h2>

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-10 col-md-10 col-lg-8 col-xl-6">
            <form method="post" asp-controller="Account" asp-action="Register" autocomplete="off">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <input asp-for="FullName" class="form-control form-control-lg" placeholder="Полное имя" type="text" />
                </div>
                <div class="form-group">
                    <input asp-for="Phone" class="form-control form-control-lg" placeholder="Телефон" type="text" />
                </div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control form-control-lg" placeholder="Email" type="text" />
                </div>
                <div class="form-group">
                    <input asp-for="PasswordConfirm" class="form-control form-control-lg" placeholder="Пароль" type="password" />
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control form-control-lg" placeholder="Повторите" type="password" />
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-lg btn-block">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>